<app-time-select></app-time-select>
<div class="main text-center">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 text-left">
      <label>
        <strong>HARDCORE OVERVIEW</strong>
      </label>
    </div>
  </div>
  <div class="row mb40">
    <div class="col-md-12 col-xs-12 col-sm-12 text-left">
      <app-hardcore-overview></app-hardcore-overview>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 text-left">
      <label>
        <strong>HARDCORE DETAIL</strong>
      </label>
    </div>
  </div>
  <div class="row mb40">
    <div class="col-md-6 col-xs-12 col-sm-6 text-left">
      <app-hardcore-detail></app-hardcore-detail>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-6 text-left">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 text-left">
          <app-hardcore-detail-cate-a></app-hardcore-detail-cate-a>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 text-left">
          <app-hardcore-detail-cate-b></app-hardcore-detail-cate-b>
        </div>
      </div>
      <app-hardcore-detail-right></app-hardcore-detail-right>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 text-left">
      <label>
        <strong>RPG DETAIL</strong>
      </label>
    </div>
  </div>
  <div class="row mb40">
    <div class="col-md-6 col-xs-12 col-sm-6 text-left">
      <app-rpg-detail-left></app-rpg-detail-left>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-6 text-left">
      <app-rpg-detail-right></app-rpg-detail-right>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 text-left">
      <label>
        <strong>KEY TITLE</strong>
      </label>
    </div>
  </div>
  <div class="row mb20">
    <div class="col-md-3 col-xs-6 col-sm-6 text-left">
      <app-key-title-cate-a></app-key-title-cate-a>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 text-left">
      <app-key-title-cate-b></app-key-title-cate-b>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 text-left">
      <app-key-title-cate-c></app-key-title-cate-c>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 text-left">
      <app-key-title-product></app-key-title-product>
    </div>
  </div>
  <div class="row mb40">
    <div class="col-md-12 col-xs-12 col-sm-12 text-left">
      <app-key-title></app-key-title>
    </div>
  </div>
</div>

<p class="mt-5 mb-3 text-muted text-center">Copyright 2018, VNG Corp. All rights reserved.</p>
