<div>
  <div class="container">
    <div class="text-center">
      <img src="assets/images/vc-logo.svg" width="150" alt="" class="mt100">
    </div>
    <div class="row text-center mt100">
      <div class="col-md-6 col-sm-6 col-xs-12 mb30 text-center">
        <a routerLink="/rev-main">
          <img src="assets/images/revenue.png">
        </a>
        <p class="mt10"><strong><a routerLink="/rev-main">REVENUE</a></strong></p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 mb30 text-center">
        <a routerLink="/appannie-download-main">
          <img src="assets/images/download.png">
        </a>
        <p class="mt10"><strong><a routerLink="/appannie-download-main">MARKET UPDATE</a></strong></p>
      </div>
    </div>
  </div>
  <p class="mt50 mb-3 text-muted text-center">Copyright 2018, VNG Corp. All rights reserved.</p>
</div>
