<!-- <div class="form-group">
  <label for="area-list">
    <strong style="font-size: 80%;">MARKET</strong>
  </label>
  <select class="form-control" id="area-list" name="area-list" [(ngModel)]="areaFilter.value" (change)="updateChart()">
    <option value="">(Blank)</option>
    <option [value]="opt" *ngFor="let opt of areaFilter.filterList">{{opt}}</option>
  </select>
</div> -->
<div class="form-group">
  <label class="has-float-label">
    <select class="form-control" id="area-list" name="area-list" [(ngModel)]="areaFilter.value" (change)="updateChart()">
      <option value="">(All)</option>
      <option [value]="opt" *ngFor="let opt of areaFilter.filterList">{{opt}}</option>
    </select>
    <span>
      <strong>MARKET</strong>
    </span>
  </label>
</div>
